@{
    ViewData["Title"] = "Edit";
}

@model EventEditDto

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12" style="padding: 20px; display: flex; justify-content: center; align-items: center;">
                    <h1>Edit Event</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <form method="post" enctype="multipart/form-data">

                                <input type="hidden" value="@Model.Id" />
                                <div class="mb-3">
                                    <label asp-for="Title" class="form-label">Title</label>
                                    <input asp-for="Title" class="form-control">
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="ImageFile" class="form-label">ImageFile</label>
                                    <input asp-for="ImageFile" class="form-control img-upload-input">
                                    <span class="text-danger" asp-validation-for="ImageFile"></span>
                                </div>
                                <div class="img-box-big d-flex justify-content-center align-items-center">
                                <img src="~/uploads/events/@Model.Image" style="width:400px;height:400px;object-fit:contain;" />
                                </div>

                                <div class="mb-3">
                                    <label asp-for="Content" class="form-label">Content</label>
                                    <textarea asp-for="Content" class="form-control" id="editor" rows="3"></textarea>
                                    <span class="text-danger" asp-validation-for="Content"></span>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-clock"></i></span>
                                            </div>
                                            <input type="datetime" name="time" class="form-control float-right datepicker" id="reservationtime">
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-outline-dark">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>



@section Scripts{





    <script>

        //$('#reservationtime').daterangepicker({
        //    "autoApply": true,
        //    "startDate": startDate, // viewda gorsenen baslangic deyer
        //    "endDate": moment().startOf('hour').add(32, 'hour'), // viewda gorsenen son deyer
        //    "minDate": startDate, // viewda gorsenen limitin min deyeri
        //    "maxDate": moment(), // viewda gorsenen limitin max deyeri
        //    locale: {
        //        format: 'DD/MM/YYYY'
        //    }
        //    }, function(start, end, label) {
        //      console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
        //});


        console.log("as")

        var startDay = @TempData["StartDay"];
        var startMonth = @TempData["StartMonth"];
        var startYear = @TempData["StartYear"];

        var startHour = @TempData["StartHour"];
        var startMin = @TempData["StartMin"];


        var sstartDay = @TempData["SelectStartDay"];
        var sstartMonth = @TempData["SelectStartMonth"];
        var sstartYear = @TempData["SelectStartYear"];

        var sstartHour = @TempData["SelectStartHour"];
        var sstartMin = @TempData["SelectStartMin"];


        var estartDay = @TempData["SelectEndDay"];
        var estartMonth = @TempData["SelectEndMonth"];
        var estartYear = @TempData["SelectEndYear"];

        var estartHour = @TempData["SelectEndHour"];
        var estartMin = @TempData["SelectEndMin"];


        var date = startDay + "/" + startMonth + "/" + startYear;
        var sstartDate = sstartDay + "/" + sstartMonth +"/" + sstartYear + " " + sstartHour + ":" + estartMin;
        var endDate = estartDay + "/" + estartMonth +"/" + estartYear + " " + estartHour + ":" + estartMin;

        console.log(date);
        console.log(sstartDate);
        console.log(endDate);


        ////$('input[name="datetimes"]').daterangepicker({
        ////    timePicker: true,
        ////    startDate: date,
        ////    endDate: moment(),
        ////    minDate:date,
        ////    locale: {
        ////        format: 'DD/MM/YYYY hh:mm A'
        ////    }
        ////});

        $('#reservationtime').daterangepicker({
            timePicker: true,
            "autoApply": true,
            "startDate": sstartDate, // viewda gorsenen baslangic deyer
            //"endDate": moment().startOf('day').add(32, 'hour'), // viewda gorsenen son deyer
            //"maxDate": moment().startOf('day').add(32, 'hour'),
            locale: {
                format: 'DD/MM/YYYY hh:mm'
            }
        }, function (start, end, label) {
            console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
        });

    </script>



    @await Html.PartialAsync("_ValidationPartial")

    <script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

}



@section Links{
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/manage/plugins/fontawesome-free/css/all.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/manage/plugins/daterangepicker/daterangepicker.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/manage/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/manage/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/manage/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/manage/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/manage/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="~/manage/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/manage/plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/manage/plugins/dropzone/min/dropzone.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/manage/dist/css/adminlte.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
